<?xml version="1.0"?>
<!-- This file follows the standard bootstrap config file layout found in opensrf_core.xml -->
<srfsh>
  <router_name>router</router_name>
  <domain>{{ domains.private.host }}</domain>
  <username>{{ domains.private.user }}</username>
  <passwd>{{ domains.private.password }}</passwd>
  <port>5222</port>
  <logfile>/openils/var/log/srfsh.log</logfile>
  <loglevel>4</loglevel>
  <client>true</client>
</srfsh>
